



@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.animation{
   
    animation:  fadeInScale 0.5s linear;
   
    border-radius: 20px;
}
