<div class="flex items-center justify-center mt-16">
  <div class="p-4 rounded-lg shadow-2xl w-full max-w-sm sm:max-w-md bg-amber-800 text-white">
    <h2 class="text-lg text-center mb-4 text-gray-100">ALL REQUEST ORDERS</h2>

    <!-- No Orders Found Message -->
    <div *ngIf="orders.length === 0" class="text-center text-gray-500">
      <p>No Requested Orders Found</p>
    </div>

    <!-- Orders Table -->
    <div *ngIf="orders.length > 0" class="overflow-x-auto">
      <table class="min-w-full table-auto text-left bg-amber-900 rounded-lg shadow-lg w-full">
        <thead>
          <tr>
            <th class="px-4 py-2 text-sm text-gray-300">Product Name</th>
            <th class="px-4 py-2 text-sm text-gray-300">Weight</th>
            <th class="px-4 py-2 text-sm text-gray-300">Quantity</th>
            <th class="px-4 py-2 text-sm text-gray-300">Order Date</th>
            <th class="px-4 py-2 text-sm text-gray-300">Phone Number</th>
            <th class="px-4 py-2 text-sm text-gray-300">Address</th>
            <th class="px-4 py-2 text-sm text-gray-300">district</th>

            <th class="px-4 py-2 text-sm text-gray-300">Pincode</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td class="px-4 py-2 text-sm text-gray-100">{{ order.productName | uppercase }}</td>
            <td class="px-4 py-2 text-sm text-gray-100">{{ order.weight }}</td>
            <td class="px-4 py-2 text-sm text-gray-100">{{ order.quantity }}</td>
            <td class="px-4 py-2 text-sm text-gray-100">
              {{ order.formattedDate }}
            </td>
            
            <td class="px-4 py-2 text-sm text-gray-100">{{ order.phone }}</td>
            <td class="px-4 py-2 text-sm text-gray-100 whitespace-nowrap">
              {{ order.address }}
            </td>
            <td class="px-4 py-2 text-sm text-gray-100">{{ order.district
            }}</td>

            <td class="px-4 py-2 text-sm text-gray-100">{{ order.pincode }}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
